#ip-container, .ip-results {
    background-color: white;
    z-index: 2;
    border-radius: 20px;
    width: 100%;
}

#ip-container {
    position: relative;
    margin: 0 auto;
    margin-top: 140px;
}

.ip-results {
    display: flex;
    text-align: left;
    padding: 20px;
    justify-content: center;
}

.ip-results-item {
    display: flex;
    flex-flow: column wrap;
    width: 25%;
    padding: 20px; 
    justify-content: flex-start;
}

.ip-results-item-heading {
    font-size:  1.2rem;
    color: var(--Dark-Gray);
    padding-bottom: 10px;
}

.ip-results-item-data {
    font-size:  1.8rem;
    color: var(--Very-Dark-Gray);
}

.ip-results-border {
    border-right: 0.1px solid lightgrey;
}

@media  screen and (max-width: 1000px) {
    #ip-container {
        margin-top: 130px;
    }

    .ip-results, .ip-results-item  {
        padding: 15px;
    }

    .ip-results-item-heading {
        font-size:  1rem;
        color: var(--Dark-Gray);
        padding-bottom: 10px;
    }
    
    .ip-results-item-data {
        font-size:  1.5rem;
        color: var(--Very-Dark-Gray);
    }
}

@media  screen and (max-width: 800px) {
    #ip-container {
        margin-top: 150px;
    }
    .ip-results, .ip-results-item  {
        padding: 10px;
    }
    
    .ip-results-item-heading {
        font-size:  0.8rem;
        color: var(--Dark-Gray);
        padding-bottom: 10px;
    }
    
    .ip-results-item-data {
        font-size:  1.2rem;
        color: var(--Very-Dark-Gray);
    }
}

/* @media  screen and (max-width: 600px) {
    #ip-container, .ip-results {
        background-color: red;
    }
    
} */