#ip-container, .ip-results {
    background-color: white;
    z-index: 2;
    border-radius: 20px;
    width: 100%;
}

#ip-container {
    position: relative;
    margin: 0 auto;
    margin-top: 140px;
}

.ip-results {
    display: flex;
    text-align: left;
    padding: 20px;
    justify-content: center;
}

.ip-results-item {
    display: flex;
    flex-flow: column wrap;
    width: 25%;
    padding: 20px; 
    justify-content: flex-start;
}

.ip-results-item-heading {
    font-size:  1.2rem;
    color: var(--Dark-Gray);
    padding-bottom: 10px;
}

.ip-results-item-data {
    font-size:  1.8rem;
    color: var(--Very-Dark-Gray);
}

.ip-results-border {
    border-right: 0.1px solid lightgrey;
}

@media  screen and (max-width: 1350px) {

    .ip-results, .ip-results-item  {
        padding: 15px;
    }
    .ip-results-item-heading {
        font-size:  1rem;
        color: var(--Dark-Gray);
        padding-bottom: 10px;
    }
    
    .ip-results-item-data {
        font-size:  1.35rem;
        color: var(--Very-Dark-Gray);
    }
}

@media  screen and (max-width: 1050px) {
    .ip-results, .ip-results-item  {
        padding: 10px;
    }
    .ip-results-item-heading {
        font-size:  0.7rem;
        color: var(--Dark-Gray);
        padding-bottom: 10px;
    }
    
    .ip-results-item-data {
        font-size:  1rem;
        color: var(--Very-Dark-Gray);
    }
}

@media  screen and (max-width: 800px) {
    .ip-results-item-heading {
        font-size:  0.6rem;
        color: var(--Dark-Gray);
        padding-bottom: 10px;
    }
    
    .ip-results-item-data {
        font-size:  0.75rem;
        color: var(--Very-Dark-Gray);
    }
}

@media  screen and (max-width: 600px) {
    #ip-container {
        margin-top: 20px;
    }

    .ip-results {
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    .ip-results-item {
        width: 100%;
        padding: 15px 50px; 
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .ip-results-border {
        border-right: none;
    }

    .ip-results-item-heading {
        font-size:  1rem;
    }
    
    .ip-results-item-data {
        font-size:  1.5rem;
    }
    
}