#leaflet-container, #map-container {
    z-index: 0;
}

#leaflet-container {
    display: flex;
    height: 70vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  #map-container {
    overflow: auto;
    height: 70vh;
    width: 100%;
  }
  